/*Write some CSS below */
body {

	font-family: Overpass; 
	font-size: 20px;
	margin: 0;
	text-align: center;
	
}


.titulo {

background-image: url('C:/Users/Bruno/Pictures/Dorado-Landin.jpg');
background-size: cover;
background-position: center;
padding: 70px;
text-align: center; 
height: : 50px;
color: #ffffff;
}

.boton {
background-color: #2f54c4;
color: white; 
padding: 12px 20px;
border-radius: 8px;
display: inline-block;
text-decoration: none;
transition: .3s;
font-size: 20px;
font-weight: bold;
border: none;

}

.boton:hover {
background-color: #1097eb;
color: white;
}



html {
	background-color: #f0f2f5;
}

p {

	opacity: 0.7;
}
.footer {
   
   background: #21211e;
   color: white; 
   padding: 1px 0px;
   text-align: left;
}
.footer-2 {
	margin: 8px;
}
.insta {
	opacity: 0.5;
}
.todo-carta {
	width: 10px;
	height: 30px;
	margin: 0px;
	border-radius: 10px;
	padding: 5px;
}

.carta-rio {

background: white;
box-shadow: 10px 10px 10px rgba(14, 15, 15);
border-radius: 5px;
padding: 5px;
margin: 8px;


}
.carta-rio img {
width: 200px;
height: 200px;
object-fit: cover;
border-radius: 5px;
border-image: 10px;

}
.carta-rio h4 {
	margin-bottom: 10px;
	text-align: left;
}
.Cartas {
display: inline-grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
border-radius: 10px;
margin: 0 0 1rem;
padding: 5px;






}
h3 {
	text-align: center;
	font-family: chivo;
	text-decoration: underline;
	margin: 10px;
h1 {

text-decoration: underline;
height: 50px;


}
